@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #EF4444;
  --brand-secondary: #3B82F6;
}

body {
  @apply antialiased text-brand-dark bg-white;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-brand-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full border-2 border-transparent bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
